@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html, body, main {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    border-color: blue;
    background-color: red;
    font-family: 'Acme', sans-serif;
}

main h1, h2, h3, h4 {
    text-align: center;
    color: white;
}
main{
    background-image: url("https://store-images.s-microsoft.com/image/apps.42818.65935711642560027.0a5508b2-97cc-454e-bc78-fca0b9474931.eed4b951-b090-41e0-83a9-2af5b16761e4?mode=scale&q=90&h=1080&w=1920&format=jpg");
}

img {
    border-radius: 50%;
    width: 10rem;
    margin-left: center;
}
nav{
    flex-wrap: nowrap;
    text-align: center;
}
nav ul{
    padding: 1%;
    display: flex;
    text-align: center;

}

nav li{

    text-align: center;
    list-style-type: none;
    margin-right: 8rem;
}

nav li a{

    color: black;
    text-decoration: none;
    font-size: 1.80rem;
    text-transform: uppercase;
}

nav li a:hover{
    
    color: blue;
}

header {
    background-color: black;
    font-family: 'Acme', sans-serif;
    height: 100%;
    text-align: center;
    height: 50px;
    padding: 2rem;
}

footer {
    background-color: black;
    height: 100%;
    text-align: center;
    height: 50px;
    padding: 1rem;
}

header h3{
    color:white;
    text-align: center;
}

 footer h3 {
    text-align: center;
    color:  white;
    text-transform: uppercase;
    line-height: 25px;
    font-size: 15px;
}

.main {
    height: calc(50% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .button-container {
    width: 30%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .button-container a, .main .btn-voltar {    
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color: white;
    position: relative;
    text-decoration: none;
    transition: color 1s, background-color 1s, border 1s;
}

.main .button-container a:hover, .main .btn-voltar:hover {
    background-color:black;
    color: yellow;
    border: 1px solid white;
}

